.main{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bolder;
  }
  .centered-btm{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
  }
  @media screen and (max-width:600px) {
    .centered {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: small;

    }
    .centered-btm{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: x-small;
    }
  }