
.slider{
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    overflow-x: auto;
    grid-template-columns: (4, 1fr);
    scrollbar-width: none;
}
.slider-wrapper .image-list .image-item{
  width:55rem;
  height:20rem;
  object-fit: cover;
}