.navbar {
    margin: 1.2em 1.3em 0;
}

.nav-img {
    width: 15%;
}

@media screen and (max-width: 600px) {
    .nav-img {
        width: 32%;
    }

    .search {
        font-size: small;
    }
.navbar{
    margin: 0.3em 0.5em 0;
}
}